:root {
  /* green */
  --green-100: #adee7b;
  --green-200: #7bd100;
  --green-300: #6ab600;
  --green-400: #559400;
  --green-500: #417300;
  --green-600: #2e5400;
  --green-700: #223710;
  --green-800: #122700;
  --green-900: #0a1800;

  /* gray */
  --gray-100: #dedede;
  --gray-200: #bebebe;
  --gray-300: #9e9e9e;
  --gray-400: #808080;
  --gray-500: #636363;
  --gray-600: #484848;
  --gray-700: #2e2e2e;
  --gray-800: #161616;
  --gray-900: #030303;
}