@import url(reset.css);
@import url(fonts.css);

:root {
  --color-text: #111810;
  --color-background: #f8f2e7;
  --color-primary: #223710;
  --page-nav-height: 6rem;
}

:target {
  scroll-margin-top: var(--page-nav-height);
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, sans-serif;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

i {
  font-size: 2rem;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
}

/* Nav */
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;
  width: 100%;
  height: var(--page-nav-height);
  padding: 0.5rem 2rem;
  background: var(--color-background);
}

/* Main nav */
nav div:first-child {
  display: flex;
  place-items: center;
  gap: 2rem;

  a {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 800;
  }

  a::after {
    content: '';
    position: absolute;
    inset: 100% 0 auto 0;
    height: 3px;
    background: currentColor;
    scale: 0 1;
    transition: scale 0.25s ease-in-out;
  }

  a:hover::after {
    scale: 1 1;
  }
}

/* Nav logo */
.header-logo {
  z-index: 1;
  position: relative;
  height: 100%;
  --y: calc(-50% + 50vh - var(--scroll, 0) * 1px);
  transform: translateY(max(var(--y), 0px)) scale(1.0);
  transition: transform 0.05s ease-out;

  svg {
    height: inherit;
    color: var(--color-primary);
  }
}

.header-arrow {
  position: absolute;
  inset: auto 0 2rem;
  margin: 0 auto;
  width: 2rem;
  animation: bounce 1s linear infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Main */
main {
  display: grid;
  justify-items: center;
  gap: 8rem;

  @media (width <=600px) {
    gap: 4rem;
  }

  section {
    width: 100%;
    max-width: 80rem;

    h2 {
      text-transform: uppercase;
      padding: 0.5rem 0.5rem 0.5rem 6rem;
      width: fit-content;
      color: var(--color-background);
      background: var(--color-primary);
      font-size: 1rem;
      font-weight: 800;
      letter-spacing: 0.1em;

    }

    h3 {
      margin-bottom: 4rem;
      max-width: 12ch;
      font-size: 4rem;
      font-weight: 100;
      text-transform: uppercase;
      text-wrap: balance;

      @media (width <=600px) {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }

    &:nth-of-type(even) {
      h2 {
        margin-left: auto;
        padding-inline: 0.5rem 6rem;
      }

      h3 {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}

/* Scrolling text */
.scroller {
  max-width: 100vw;
  overflow: hidden;

  ul {
    width: max-content;
    display: flex;
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    list-style-position: inside;
    animation: scroll 30s linear infinite;

    @media (width <=600px) {
      font-size: 2rem;
    }
  }

  li::marker {
    content: ' • ';
  }
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

/* About */
.story {
  display: grid;
  gap: 2rem;
  margin: auto;
  padding: 0 0.5rem;
  font-family: 'Noto Serif', serif;
  font-size: min(2vw, 1.25rem);

  figure {
    position: relative;
    width: 100%
  }

  figure img {
    width: 60%;
    aspect-ratio: 5/3;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  figcaption {
    position: absolute;
    inset: 0 0 0 auto;
    margin: auto 0;
    padding: 2em;
    width: 50%;
    height: fit-content;
    border-radius: 0.25rem;
    color: var(--color-background);
    background: var(--color-primary);
  }

  figure:first-of-type>figcaption::first-letter {
    float: left;
    margin-top: 0.1em;
    margin-right: 0.1em;
    padding: 0.1em;
    border: 1px solid currentColor;
    font-size: 4em;
    font-weight: 700;
  }


  figure:nth-of-type(odd) {
    img {
      margin-left: auto;
    }

    figcaption {
      left: 0;
    }
  }

  @media (width <=600px) {}
}

/* Gallery */
.carousel {
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: flex;
    aspect-ratio: 2 / 1;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: scroll;
  }

  @media (width <=600px) {
    ul {
      aspect-ratio: 4 / 3;
    }
  }

  li {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 100%;
    list-style-type: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    z-index: 0;
    position: absolute;
    inset: 0 auto;
    height: 100%;
    width: 10%;
    border: none;
    background: transparent;
    color: var(--color-background);
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: backdrop-filter 0.5s;
    border-block-start: 1px solid rgba(255 255 255 / 0.4);

    &.prev {
      left: 0;
      writing-mode: sideways-rl;
    }

    &.next {
      right: 0;
      writing-mode: sideways-lr;
    }

    &:hover {
      backdrop-filter: blur(16px);
    }
  }
}

/* Catering Form */
form {
  max-width: 32rem;
  margin: auto;
  padding: 0 1rem;

  h4 {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}

label {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

input,
textarea {
  appearance: none;
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.375rem;
  resize: vertical;
  background: rgba(0 0 0 / .05);

  &:focus {
    outline: 3px solid lightgreen;
  }
}


button[type="submit"] {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--color-background);
  background: var(--color-primary);
  font-weight: 600;

  &:hover {
    background: var(--color-text);
  }
}

.form-row {
  display: flex;
  align-items: end;
  gap: 1rem;
}

/* Footer */
footer {
  position: relative;
  margin-top: 4rem;
  padding: 4rem;
  background: var(--color-primary);
  color: var(--color-background);
}

.footer-logo {
  width: 10rem;
  margin-bottom: 2rem;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;

  a {
    width: 2rem;
  }
}

.footer-phone {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-extra {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.footer-leaf {
  flex-shrink: 0;
  width: 2rem;
}

.footer-copyright {
  font-size: 0.875rem;
}

.footer-address {
  font-size: 0.75rem;
}
